!include include/default_my.cnf

[mysqld.1]
loose-thread-handling=pool-of-threads
loose-thread_pool_size=1
loose-thread_pool_oversubscribe=3
loose-thread_pool_stall_limit=60000
innodb_lock_wait_timeout=3600
loose-debug-sync-timeout=300
extra_port=@OPT.port

[client]
connect-timeout=2

[ENV]
MASTER_THREAD_POOL_SIZE=@mysqld.1.loose-thread_pool_size
MASTER_EXTRA_PORT=@OPT.port